body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4353;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{color:#353535; background-color: green;}
.navbar img{height:100px;}
.slider img{background-repeat: no-repeat; height: 700px; position: relative ;} 
.text h1{text-align:center; position: absolute; top: 35%; left:31%; transform:translate(-50% -50%;); font-weight:990; font-familly:serif;text-transform:uppercase; font-size:2.4rem; background:linear-gradient(to bottom right, red, yellow); padding:10px 40px 10px 40px;}
.text p{text-align:center; position: absolute; top:43%; left:40%; transform:translate(-50% -50%;); font-weight:500; font-familly:serif; padding:10px; font-weight:800; font-size:1.3rem;  color:#fff;}
.text .btn{text-align:center; position: absolute; top:49%; left:46%; transform:translate(-50% -50%;); font-weight:500; font-familly:serif; padding:10px; font-weight:800; font-size:1.3rem;  color:#fff;}